---
const { title, children, startColor, endColor, headImage } = Astro.props;
import '../styles/base.css';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
    </head>
    <body style={`--start-color: ${startColor}; --end-color: ${endColor};`}>
        <div id="content">
            <header>
                {headImage && <img src={headImage.src} alt={headImage.alt} />}
            </header>
            <main>
                {children}
                <slot>
                </slot>
            </main>
        </div>
    </body>
</html>
